</body>
<script>
  function showOnChange(element) {
    let value = element.value
    if (value == "url") {
        document.getElementById("url").style.display = "grid"
        document.getElementById("email").style.display = "none"
        document.getElementById("event").style.display = "none"
        document.getElementById("facetime").style.display = "none"
        document.getElementById("facetimeaudio").style.display = "none"
        document.getElementById("geo").style.display = "none"
        document.getElementById("sms").style.display = "none"
        document.getElementById("tel").style.display = "none"
        document.getElementById("wifi").style.display = "none"
    } else if (value == "tel") {
        document.getElementById("url").style.display = "none"
        document.getElementById("email").style.display = "none"
        document.getElementById("event").style.display = "none"
        document.getElementById("facetime").style.display = "none"
        document.getElementById("facetimeaudio").style.display = "none"
        document.getElementById("geo").style.display = "none"
        document.getElementById("sms").style.display = "none"
        document.getElementById("tel").style.display = "grid"
        document.getElementById("wifi").style.display = "none"
    } else if (value == "facetime") {
        document.getElementById("url").style.display = "none"
        document.getElementById("email").style.display = "none"
        document.getElementById("event").style.display = "none"
        document.getElementById("facetime").style.display = "block"
        document.getElementById("facetimeaudio").style.display = "none"
        document.getElementById("geo").style.display = "none"
        document.getElementById("sms").style.display = "none"
        document.getElementById("tel").style.display = "none"
        document.getElementById("wifi").style.display = "none"
    } else if (value == "facetimeaudio") {
        document.getElementById("url").style.display = "none"
        document.getElementById("email").style.display = "none"
        document.getElementById("event").style.display = "none"
        document.getElementById("facetime").style.display = "none"
        document.getElementById("facetimeaudio").style.display = "block"
        document.getElementById("geo").style.display = "none"
        document.getElementById("sms").style.display = "none"
        document.getElementById("tel").style.display = "none"
        document.getElementById("wifi").style.display = "none"
    } else if (value == "email") {
        document.getElementById("url").style.display = "none"
        document.getElementById("email").style.display = "block"
        document.getElementById("event").style.display = "none"
        document.getElementById("facetime").style.display = "none"
        document.getElementById("facetimeaudio").style.display = "none"
        document.getElementById("geo").style.display = "none"
        document.getElementById("sms").style.display = "none"
        document.getElementById("tel").style.display = "none"
        document.getElementById("wifi").style.display = "none"
    } else if (value == "sms") {
        document.getElementById("url").style.display = "none"
        document.getElementById("email").style.display = "none"
        document.getElementById("event").style.display = "none"
        document.getElementById("facetime").style.display = "none"
        document.getElementById("facetimeaudio").style.display = "none"
        document.getElementById("geo").style.display = "none"
        document.getElementById("sms").style.display = "block"
        document.getElementById("tel").style.display = "none"
        document.getElementById("wifi").style.display = "none"
    } else if (value == "wifi") {
        document.getElementById("url").style.display = "none"
        document.getElementById("email").style.display = "none"
        document.getElementById("event").style.display = "none"
        document.getElementById("facetime").style.display = "none"
        document.getElementById("facetimeaudio").style.display = "none"
        document.getElementById("geo").style.display = "none"
        document.getElementById("sms").style.display = "none"
        document.getElementById("tel").style.display = "none"
        document.getElementById("wifi").style.display = "block"
    } else if (value == "geo") {
        document.getElementById("url").style.display = "none"
        document.getElementById("email").style.display = "none"
        document.getElementById("event").style.display = "none"
        document.getElementById("facetime").style.display = "none"
        document.getElementById("facetimeaudio").style.display = "none"
        document.getElementById("geo").style.display = "block"
        document.getElementById("sms").style.display = "none"
        document.getElementById("tel").style.display = "none"
        document.getElementById("wifi").style.display = "none"
    } else if (value == "event") {
        document.getElementById("url").style.display = "none"
        document.getElementById("email").style.display = "none"
        document.getElementById("event").style.display = "block"
        document.getElementById("facetime").style.display = "none"
        document.getElementById("facetimeaudio").style.display = "none"
        document.getElementById("geo").style.display = "none"
        document.getElementById("sms").style.display = "none"
        document.getElementById("tel").style.display = "none"
        document.getElementById("wifi").style.display = "none"
    }
  }
</script>
</html>