<div class="main">
    <form action="/" method="post">
        <input type="text" name="msg" value="enter here">
        <select name="opt">
            <option name="url" value="url">Link to Webpage</option>
            <option name="tel" value="tel">Telephone Number</option>
            <option name="facetime" value="facetime">Facetime (Telephone Number or Email)</option>
            <option name="facetimeaudio" value="facetimeaudio">Facetime Audio (Telephone Number or Email)</option>
            <option></option>
            <option></option>
            <option></option>
        </select>
        <input type="submit" value="Send">
    </form>
</div>