<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0, maximum-scale=1.0, user-scalable=0"
    />
    <title>QR.Toolz.se</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta property="og:title" content="QR Code Toolz 🛠" />
    <meta property="og:image" content="https://qr.toolz.se/qrlogo.gif" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://qr.toolz.se/qrlogo.gif"
    />
    <link rel="apple-touch-icon" href="https://qr.toolz.se/qrlogo.gif" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="180x180"
      href="https://qr.toolz.se/qrlogo.gif"
    />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body></body>
</html>
